<div class="container-fluid">
  <div class="row" style="padding: 15px 0px 15px 0px">
    <div class="col-4">
      <select [(ngModel)]="currentTable" class="form-control" (ngModelChange)="onTableChange(currentTable)">
            <option *ngFor="let tableName of tableNames" [ngValue]="tableName">{{tableName}}</option>
        </select>
    </div>
    <div class="col-8">
      <!-- <form class="form-inline">
      </form> -->
        <input type="text" class="form-control form-horizontal" style="width:15%" name="itemHash" [(ngModel)]="itemHash" placeholder="item hash" />
        <button (click)="searchHash(itemHash)">Search</button>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div id="jsonEditorCode" style="height:85%"></div>
    </div>
    <div class="col-6">
      <div id="jsonEditorView" style="height:85%"></div>
    </div>
  </div>
</div>